th{
    background: #03A9F4;
    border: solid 1px !Important;
    font-family: cursive;
}

h2{
    text-align: center;
}

html{
    background: #b5b5b5;
    height: 100%;
}

footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: red;
    color: white;
    text-align: center;
}